@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --color-biscuit-gold: #C5A059;
  --color-biscuit-gold-hover: #b5904d;
  --color-slate-blue: #2C3E50;
  --color-slate-dark: #1A252F;
  --color-creamy-white: #F9F7F2;
  
  --font-playfair: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply bg-creamy-white text-slate-blue font-montserrat antialiased;
  }
  
  ::selection {
    @apply bg-biscuit-gold text-white;
  }
}

